.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #7b7f81;
}

/* element.style {
  display: flex;
  justify-content: space-between;
} */
.c {
  background: rgb(219, 0, 0);
  width: 200px;
}
